* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas: 
    "dash nav"
    "dash mid"
    "dash main";

    font-family: "Arial Black", Gadget, sans-serif;
font-size: 16px;
letter-spacing: -0.8px;
word-spacing: 0.2px;
color: #000000;
font-weight: 400;
text-decoration: none;
font-style: normal;
font-variant: normal;
text-transform: capitalize;
max-width: 1500px;
max-height: 900px;
margin: auto;
}

.magnify{

    width: 20px;
    height: 30px;
}

.bell{

    width: 20px;
    height: 30px;
}

.profile{
    
    width: 60px;
    height: 60px;
    border-radius: 30px;
}
.profileSec{
    
    width: 80px;
    height: 80px;
    border-radius: 50px;
}
.boxSign{

    width: 20px;
    height: 30px;
}

.icon{
    
    width: 20px;
    height: 30px;

}

.mainIcon{

    width: 40px;
    height: 40px;
}
.dashTitle{
    display: flex;
    align-items: center;
    margin-left: 1rem;
    margin-right: 4rem;
    margin-top: 1rem;
    margin-bottom: 3rem;
}
nav {
    
    display: flex;
    flex-direction: column;      
    justify-content: space-between;
    min-height: 450px;
}

li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 12px;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
    font-size: 1.25rem;
    
}
ul{
    padding: 0;

}

.sideBar{
background: #FFFFFF;
background: -moz-linear-gradient(top, #FFFFFF 0%, #CB953C 60%, #757575 100%);
background: -webkit-linear-gradient(top, #FFFFFF 0%, #CB953C 60%, #757575 100%);
background: linear-gradient(to bottom, #FFFFFF 0%, #CB953C 60%, #757575 100%);
grid-area: dash;
}

.header{
    background-color: white;
    grid-area: nav;
    display: flex;
    justify-content: space-between;
    
}
.login{
display: flex;
align-items: center;
justify-content: space-between;
min-width: 14rem;
margin-right: 6rem;

}
.nameHeader{
    font-weight: bold;

}

.searcher{
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: 2rem;
}
#searchBar{
    width: 24vw;
    border-radius: 20px;
    border: none;
    background-color: rgba(216, 215, 215, 0.432);
    min-height: 28px;
    width: 30vw;
    caret-color: #0e0d0d;
    caret-shape: bar;
    padding-left: 10px;
    
}
.header-bottom{
    background-color: white;
    grid-area: mid;
    display: flex;
    justify-content: space-between;
    margin: 0.5rem 0 ;
    
}
.greet{
    display: flex;
    align-items: center;
    margin-left: 2rem;
}
#hello{
    font-size: 0.9rem;
    font-weight: bold;
}
#name{
font-weight: bold;
font-size: 1.5rem;
}
button {
display: flex;
   
color: rgb(60, 58, 58); font-size: 16px; 
padding: 10px; border-radius: 25px; 
font-family: Georgia, serif; font-weight: normal; 
text-decoration: none; font-style: normal; font-variant: normal; 
text-transform: none; 
background-image: radial-gradient(#ffffff 0%, #cb953c 59%, #757575 100%); box-shadow: rgba(0, 0, 0, 0) 5px 5px 15px 5px; 
border: 0px solid rgb(28, 110, 164); display: inline-block;
max-height: 40px;
min-width: 100px;
font-weight: bold;

}
.myButton:hover {
background: rgb(255,255,255); }
Button:active {
background: rgb(117,117,117); }

.buttons{
    display: flex;
    gap: 2rem;
    align-items: center;
    margin-right: 4rem;
}


.main{
    
    background-color: rgba(216, 215, 215, 0.342);
    grid-area: main;
      
}
#mainSplit{
    margin-top: 30px;

}

.box{
    
    background-color: white;
    max-height: 250px;
    border-radius: 8px;
    border-left: 17px double #CB953C;

    
}

.boxContent{
display: flex;
flex-direction: column;
margin: 2rem 0;
font-size: 1rem;
justify-content: space-between;
min-height: 2rem;
padding: 2rem;

}

.announce{
    
    background: white;
    margin: 30px;
    border-radius: 10px;
    padding: 40px;
    font-size: 16px;
    margin-top: 0;  

}
.trend{
    
    background-color: white;
    margin: 30px;
    margin-top: 0;
    border-radius: 10px;
    height: 21rem;
    align-content: center;
    
    
}

.trendContent{
    display: flex;
    gap:15px;
    align-items: center;
    padding-bottom: 15px;
    margin-left: 2rem;
}
.textSide{
    width: 150px;
    overflow: hidden;

}

.boxSign{
    display: flex;
    gap: 1.5em;
    
    
}
.allBox {   
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 800px));
    gap: 32px;
    margin-left: 32px;
    margin-bottom: 32px;
    
}
.mainContent {
    
    display: flex;
}

.mainTitles{
    
    padding-left: 2rem;
    padding-bottom: 0.6rem;
}

.rightSide {

    display: flex;
    flex-direction: column;
    max-width: 400px;

}

.textOne,
.textTwo{

border-bottom:1px solid grey;
padding-bottom: 20px;

}

.textTwo,
.textThree{
    padding-top: 20px;

}


